<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Batch Analytics Toolchain</h1>
	</div>
	
	<div class="panel-body">
		<img class="fadeIn fadeIn-1s"
			 src="/Reflection/assets/images/hornet_architecture.svg"
			 alt="Hornet"
			 height="89%" width="89%">
	</div>
</div>

{{outlet}}
