<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Event-Flow Browser Toolchain - Client/Server Sides</h1>
	</div>
	
	<div class="panel-body">
		{{manucode-snailshell-architecture}}
	</div>
</div>

{{outlet}}
