<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Event-Flow Browser Toolchain - Client/Server Sides</h1>
	</div>
	
	<div class="panel-body">
		<img class="fadeIn fadeIn-1s"
			 src="/Reflection/assets/images/manucode_snailshell_architecture.svg"
			 alt="Hornet"
			 height="85%" width="85%">
	</div>
</div>

{{outlet}}
