<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Extract-Transform-Load Process - Server Side</h1>
	</div>
	
	<div class="panel-body">
		<img class="fadeIn fadeIn-1s"
			 src="/Reflection/assets/images/markhor_architecture.svg"
			 alt="Markhor"
			 height="100%" width="100%">
	</div>
</div>

{{outlet}}
