<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Extract-Transform-Load Process - Server Side</h1>
	</div>
	
	<div class="panel-body">
		{{markhor-architecture}}
	</div>
</div>

{{outlet}}
