<div class="panel panel-info">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-11">
				<h1>Dashboard - RESTful Server Side</h1>
			</div>
			
			{{#if demo}}
				<div class="col-md-1">
					<br>
					{{#bs-button type="link" 
								 icon="glyphicon glyphicon-play-circle"
								 clicked="fire_demo"}}
					{{/bs-button}}
				</div>
			{{/if}}
		</div>
	</div>
	
	<div class="panel-body">
		{{norfolktrotter-architecture}}
	</div>
</div>

{{outlet}}
