<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Event-Driven Dashboard - Client/Server Sides</h1>
	</div>
	
	<div class="panel-body">
		{{nutcracker-rooks-architecture}}
	</div>
</div>

{{outlet}}
